* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

.page_1_container {
	height: 100vh;
}

/* Top navigation row with logo */

.navigation {
	padding: 10px;
	margin-bottom: 20px;
}

body {
	/* background-image: url("/resources/bakgrund.jpg"); */
}

nav {
	float: right;
}

nav a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}

nav a:hover {
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	border-radius: 2px;
	border-color: #ff5a5f;
	border-spacing: 4px;
	padding-bottom: 8px;
}

li {
	list-style: none;
	float: left;
	margin: 0 20px;
	font-weight: 400;
}

.navigation-separator {
	float: left;
}

.input_form_container {
	background-image: url("/resources/bakgrund.jpg");
	height: 60vh;
	text-align: center;
	background-size: cover;
	background-position: center;
}

.form_container {
	height: 70vh;
	background-image: url("/resources/bakgrund.jpg");
	background-size: cover;
	text-align: center;
}

.form {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	border-radius: 0px;
	padding: 10px 10px;
	margin: 100px auto;
}

.sub_form {
	width: 300px;
	float: left;
	background-color: white;
	margin: 0px 20px;
	padding: 40px 0px;
}

.chart {
	width: 60%;
	margin: auto;
}

.chart_title {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin-bottom: 20px;
}

.rubrik_form {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	margin: 10px 0 0 20px;
}

.header_form {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 18px;
	margin: 10px 0 20px 20px;
}

.select_form, .input {
	width: 80%;
	height: 20px;
	border-radius: 0px;
	font-size: 12px;
	text-indent: 10px;
	border-width: 0px 0px 1px 0px;
	border-color: black;
	border-style: solid;
	margin: 4px 20px;
}

.button {
	float: right;
	width: 60px;
	height: 25px;
	border-width: 1px;
	border-color: black;
	border-radius: 3px;
	font-size: 14px;
	margin: 20px 40px;
	text-transform: uppercase;
	border-style: solid;
	background-color: white;
}

.button:hover {
	background-color: #ed5358;
	transition: .3s;
	color: white;
}

/* Divider */

.divider_container {
	font-size: 20px;
	margin: 30px;
}

/* Information section, grid outline */

.information_container {
	background-color: #eeeeee;
}

.box_container {
	background-color: white;
	margin: auto;
	width: 96vw;
	text-align: center;
}

.box {
	display: inline-block;
	width: 46%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 20px 25px;
	padding: 40px 0;
}

#box_1 {

}

#box_2 {

}

#myChart {
	background: white;
	margin: auto;
	width: 95% !important;
}

#myChart2 {
	background: white;
	margin: 20px, auto;
	width: 95% !important;
}

.footer_text {
	margin: 20px;
	color: #141130;
}

footer{
	color: white;
	margin: 60px 0 0 0;
	text-align: center;
	height: 40px;
}